.ball {
    width: 100px;
    height: 100px;
    background-color: teal;
    border-radius: 50%;
    position: relative;
    left: 570px;
    bottom: 100px;
    transition: transform 1s .5s;
}

.bat {
    transition: transform  .5s;
}

.field:hover .ball {
    transform: translate(1000px);
}

.field:hover .bat {
    transform-origin: top right;
    transform: rotate(-45deg);
}