
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

#hero {
    height: 661px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url(../make-essential-UI-components-Resources/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 736px;
}


.subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .8;
    margin-bottom: 13px;
}

.title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

.description {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .7;
    margin-bottom: 22px;
}


.btn {
    padding: 14px 24px 14px 24px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    border: none;
    background: rgb(82, 195, 3);
    cursor: pointer;
}

.btn-container {
    text-align: center;
}

#card-box {
    width: 950px;
    margin: 0 auto;
    margin-top: 100px;
}

#card-box .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
}

#card-box .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .6;
}

.card-container {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    font-family: Work Sans;
}

.card {
    width: 305px;
    height: 378px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.img-box {
    width: 305px;
}

.img-box img {
    width: 100%;
}

.card .shop {
    text-align: center;
    padding: 14px 32px 14px 32px;
    background-color: rgba(82, 195, 3, 0.15);
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
}

.container {
    margin-bottom: 100px;
}